[user]
    email = tomas.kucharik@telekom.com
    name = Tomas Kucharik
[init]
    defaultBranch = master
[alias]
    cam = commit -a -m
    camend = commit --amend
    ssb = status -sb
    find = log -S
    last = log -1 HEAD --stat
    lol = log --pretty=oneline --abbrev-commit --graph
    lg = log --all --color --abbrev-commit --graph \
        --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset by $C(blue)%an%Creset' --

